<div *ngIf='gitHubRepos'>
  <ul>
    <h3>Repos:</h3>
    <li *ngFor='let repo of gitHubRepos'>
      <div class="divLi">
        <div class="right">Repo name: {{repo.name}}</div>
        <div class="right">Repo language: {{repo.language}}</div>
        <div class="right">Stars: {{repo.stargazers_count}}</div>
        <div class="right"><a href="{{repo.html_url}}">GitHub Repo</a></div>
        <button (click)='activateContributors(repo.url)'>Show Contributors</button>
      </div>
    </li>
  </ul>
  <contributors [contributorUrl]='isContributorUrl' [showContributors]='showContributors'></contributors>

</div>