ul {
    list-style: none;
    overflow: hidden;
    width: 300px;
  }
li {
    margin: 5px;
    /* display: inline-block; */
    border: 1px solid black;
}
a{
    word-wrap: none;
}
.divLi{
    text-align: left;
    width: 300px !important;

}