folowers{
    display: inline-block;
}
repos{
    display: inline-block;
}
.left{
    width: 300px;
    float: left;
    text-align: left !important;
}
/* .right{
    text-align: right !important;
} */
img {
    width: 100px;
    text-align: left;
}
p {
    width: 200px;
}
button {
    margin-right: 5px;
}